.input-sample {
  margin-top: 3px;
  margin-bottom: 10px;
  height: 25px;
  border: #5b7cd6 1px solid;
  border-radius: 3px;
  outline: none;
}

.input-sample:focus {
  box-shadow: inset 0 0 0 1px #4465be;
}
